version: "3.8"

services:
  airflow-init:
    image: apache/airflow:2.8.1
    user: "${AIRFLOW_UID:-50000}:0"
    restart: "no"
    depends_on:
      - airflow-postgres
    env_file:
      - ./.env.airflow
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflow
    volumes:
      - ../../dags:/opt/airflow/dags
      - ./volumes/airflow/logs:/opt/airflow/logs
      - ./volumes/airflow/plugins:/opt/airflow/plugins
    command: >
      bash -lc "
        airflow db migrate &&
        airflow users create
          --username $${AIRFLOW_ADMIN_USER:-admin}
          --password $${AIRFLOW_ADMIN_PASSWORD:-admin}
          --firstname $${AIRFLOW_ADMIN_FIRSTNAME:-Admin}
          --lastname $${AIRFLOW_ADMIN_LASTNAME:-User}
          --role Admin
          --email $${AIRFLOW_ADMIN_EMAIL:-admin@example.com}
        || true
      "

